html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 600px;
  height: 600px;
}

.grid__cell {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.grid__cell:hover {
  background-color: #eee;
}

.grid__cell--selected,
.grid__cell--selected:hover {
  background-color: green;
}
